.jumbotron {
    background-color: #1DA1F2;
}

h1 {
    color: white;
    font-family: 'Nunito',sans-serif;
    font-weight: 800;
}

h2 {
  color:#1DA1F2;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h3 {
  color:#DDDDDD;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

p {
    color:white;
    font-family: 'Nunito', sans-serif;
}

#UserBio {
    color: black;
    font-family: 'Nunito', sans-serif;
}

#UserStats {
    color: black;
    font-family: 'Nunito', sans-serif;
}

#app-intro {
    color: black;
    font-family: 'Nunito', sans-serif;
}

#collage {
    height: 370px;
    width: 525px;
    padding-left: 25px;
}

#UserBio {
  color: black;
}

#select-viz{
    color: black;
}

.col-md-4 {
    background-color: #DDDDDD;
    border-radius: 8px;
}

.solid {
    overflow:visible;
    padding:0;
    border:none;
    text-align: center;
    border-top: 1px solid #1DA1F2;
}

.solid:after {
    content: url("../twitter-icon.jpg");
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 2em;
    padding:0 0.25em;
    background:white
}

/* .button {
    background-color: #4CAF50; /* Green *
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #1DA1F2;
  }
  
  .button1:hover {
    background-color: #1DA1F2;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #1DA1F2;
  }
  
  .button2:hover {
    background-color: #1DA1F2;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #1DA1F2;
  }
  
  .button3:hover {
    background-color: #1DA1F2;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #1DA1F2;
  }
  
  .button4:hover {
      background-color: #1DA1F2;
      color: white;} */

.btn {
    color: #1DA1F2;
    border: 1px solid #1DA1F2;
    font-family: 'Nunito', sans-serif;
    
}

.btn:hover {
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2
}

.btn:focus {
    background: #1470a9;
    color: white
}

#dynamic-viz {
  width: auto;
  height: 800px;
}

.x.axis path {
  display: none;
}